<!-- Header Section Begin -->
<header class="header @(Model.CurrentAction == "Index" ? "" : "header--normal")">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-2">
                <div class="header__logo">
                    <a href="/"><img src="/Content/Assets/img/logo.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-10 col-md-10">
                <div class="header__nav">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            @*@foreach(var link in Model.Links) {
                                <li class="@(link.IsActive ? "active" : "")">
                                    <a href="@link.Url">@link.Title</a>
                                    @if (link.SubLinks != null && link.SubLinks.Count > 0) {
                                        <ul class="dropdown">
                                            @foreach (var subLink in link.SubLinks) { <li><a href="@subLink.Url">@subLink.Title</a></li> }
                                        </ul>
                                    }
                                </li>
                            }*@

                            @foreach(var link in Model.Links) {
                                <li class="@(link.IsActive ? "active" : "")">
                                    @if (link.SubLinks != null) { 
                                        <span>@link.Title</span>
                                        if (link.SubLinks.Count > 0) {
                                        <ul class="dropdown">
                                            @foreach (var subLink in link.SubLinks) { <li><a href="@subLink.Url">@subLink.Title</a></li> }
                                        </ul>
                                    }
                                    }
                                    else { 
                                        <a href="@link.Url">@link.Title</a>
                                    }

                                </li>
                            }
                        </ul>
                    </nav>
                    <div class="header__right__social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div id="mobile-menu-wrap"></div>
    </div>
</header>
<!-- Header Section End -->